/* styles/ResetPassword.css */

.reset-wrapper {
    max-width: 900px;
    margin: 0 auto;
    align-self: center;
    border-radius: 15px;
    height: 600px;
    width: 900px;
    background: linear-gradient(135deg, rgba(245, 247, 250, 0.8), rgba(146, 200, 229, 0.8));
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-container {
    background-color: white;
    padding: 40px 30px;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.reset-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reset-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Botão principal */
.reset-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.reset-container button:hover {
    background-color: #0069d9;
}

/* Lista de requisitos */
.reset-container ul {
    font-size: 0.85em;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
}

.reset-container p {
    text-align: center;
    font-size: 0.9em;
}

.reset-container p.error {
    color: red;
}

.reset-container p.success {
    color: green;
}
